<div class="modal slide-in-up" ng-controller="newCtrl">
   <header class="bar bar-header bar-secondary">
      <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
      <h1 class="title">Assign Pass</h1>
      <button class="button button-positive" ng-click="createNew()">Done</button>
   </header>
   <ion-content class="padding has-header">
   <div class="card">
  <div class="item item-text-wrap">
  	Enter date
    <input type="date"  ng-model="data.date">
    Enter time
    <input type="time" ng-model="data.time">
  </div>
</div>
      
   </ion-content>
</div>